* {
     margin: 0px;
     padding: 0px;
}

body {
     background-color: #04050A;
}

.my_logo {
     height: 70px;
}

#logo_text {
     display: flex;
     gap: 20px;
}

#logo_text>h1 {
     margin-top: 20px;
     font-family: 'Bruno Ace SC', cursive;
     letter-spacing: 1px;
}

#menu {
     background-color: #04050A;
     color: #07FFCB;
     padding-left: 20px;
     padding-right: 40px;
     display: flex;
     justify-content: space-between;
}

#menu_links {
     display: flex;
     gap: 50px;
     padding-top: 15px;
     padding-bottom: 20px;
     font-size: 1.5rem;
}

a:visited,
a:link {
     color: white;
     text-decoration: none;
}

#menu_links>div:hover {
     background-color: #07FFCB;
     /* color: black; */
}

a:hover {
     color: black;
}

#menu_links>div {
     padding: 5px;
}

#banner {
     background-image: url("website_images/banner.jpg");
     height: 550px;
     width: 100%;
     background-size: cover;
}

#aboutus {
     margin-top: 60px;
     padding: 70px;
     display: flex;
     gap: 30px;
}

.aboutus_image,
.aboutus_text {
     width: 50%;
}

#about_img {
     width: 100%;
     border-radius: 20px;
     box-shadow: rgba(61, 61, 61, 0.19) 0px 10px 20px, rgba(69, 69, 69, 0.23) 0px 6px 6px;
}

h1 {
     font-family: 'Bruno Ace SC', cursive;
     letter-spacing: 1px;
     color: #07FFCB;
}

.aboutus_heading {
     margin-top: 50px;
}

p {
     color: whitesmoke;
     font-size: 1.3rem;
     font-family: 'Montserrat', sans-serif;
}

.about_text {
     margin-top: 40px;
}
#specility_text
{
     color: whitesmoke;
     display: grid;
     grid-template-columns: auto auto auto auto;
     gap: 35px;
     margin-top: 40px;
}
#specility
{
     padding-left: 40px;
     padding-right: 40px;
     margin-bottom: 200px;
}
#specility_text>div
{
     background-color: #252D39;
     padding: 30px;
}
#specility_text>div>img
{
     width: 100%;
     height: 250px;
     margin-bottom: 20px;
}
#specility>div>div:hover
{
     background-color: #bbf4e8;
     color: black;
}
